{{ define "head" }}
{{ $labels := slice }}
{{ range .Params.tags }}{{ $labels = $labels | append .label }}{{ end }}
<meta data-pagefind-meta="tags[content]" content="{{ $labels | jsonify }}">
<meta data-pagefind-meta="preview[content]" content="{{ .Params.previewText }}">
{{ end }}
{{ define "main" }}
<main class="site-main" id="main-content">
	<article class="entry">
		<header class="entry-header">
			<h1 data-pagefind-meta="title" data-pagefind-sort="title">{{ .Title }}</h1>
			{{ partial "entry-meta.html" . }}
		</header>
		<div class="prose" data-pagefind-body>
			{{ .Content }}
		</div>
	</article>
</main>
{{ end }}
